*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
/app/.idea
/app/keystore
/app/keystore/*.jks
/app/keystore/keystore-*.properties
app/keystore-dev.properties
app/keystore-prod.properties
local.properties
